<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <header class="p-4 bg-gray-800 text-gray-100">
        <div class="h-16">
            <div class="flex">
            <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex items-center p-2 text-3xl text-yellow-400">
                Sticky Notes
            </a>
        </div>
    </header>
    <section class=" text-gray-100">
        <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
            <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
                <h1 class="text-5xl font-bold leading-none sm:text-6xl">Welcome to
                    <span class="text-yellow-400">Sticky Notes</span>
                </h1>
                <p class="mt-6 mb-8 text-2xl sm:mb-12">
                    Need to jot down a quick task, but don't have a pen? Look no further!
                </p>
                <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                    <a rel="noopener noreferrer" href="/login" class="px-8 py-3 text-lg font-semibold rounded border hover:bg-yellow-400  border-gray-100">Login</a>
                    <a rel="noopener noreferrer" href="/signup" class="px-8 py-3 text-lg font-semibold border rounded hover:bg-yellow-400 border-gray-100">Sign Up</a>
                </div>
            </div>
            <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                <img src="/images/sticky_note.jpeg" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            </div>
        </div>
    </section>
</body>
</html>

